.crop-cont {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: var(--first-radius);
  z-index: var(--modal-z-index);
  will-change: transform, opacity;
  touch-action: none;
  height: calc(var(--full-height) - 45px - 56px - 35px);

  &.password {
    height: calc(var(--full-height) - 45px);
    justify-content: space-between;
  }
}

.crop-zoom-cont {
  width: 100%;
  margin-top: 20px;
}

.crop-relative {
  position: relative;
  overflow: hidden;
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  border-radius: var(--first-radius);
  touch-action: none;
}

.crop-circle {
  position: absolute;
  background-color: transparent;
  box-shadow: 0 0 0 400px var(--first-modal-background-color);
  border-radius: 50%;
}

.crop-cropping {
  display: block;
  position: absolute;
  z-index: -1;
}