.about-privacy {
  display: flex;
  flex-direction: column;
  min-height: var(--full-height);
  background-color: var(--page-color);
  padding-bottom: 1px;

  .wizard-back-text-title.fix {
    .about-privacy-header-logo {
      width: 28px;
      height: 28px;
      margin-inline-end: 8px;
    }
  }
}

.about-privacy-text {
  width: 100%;
  padding: var(--mobile-first-solid-padding);
  text-align: justify;
  white-space: pre-line;
  line-height: var(--first-line-height);
  font-size: var(--title-font);
}

.about-privacy-header {
  display: flex;
  align-items: center;
}

.about-privacy-header-logo {
  width: 36px;
  height: 36px;
  margin-inline-end: 12px;
}